/* font  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 920px;
  margin: 0 auto;
}

.textContainer {
  max-width: 446px;
}

.textContainer h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 133.02%;
  color: #000000;
  margin-bottom: 24px;
}

.textContainer p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 50px;
}


/* Univesal codes */



/* Future section */

/* Future section */



/* Business section*/

/* Business section*/


/* Market section */

/* Market section */


/* Started section */

/* Started section */


/* Footer section */

/* Footer section */


.market-section{
    margin: 80px 0;
}
.market-section .container h1{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 133.02%;
    color: #000000;
}
.market-section .container p{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}

.market-section .container .market-cards {
    width: 100%;
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin: 50px 0;
}

.market-section .container .market-cards::-webkit-scrollbar {
    display: none;
}
.market-section .container .market-cards .market-card{
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 440px;
    background: #F5F5F5;
    border-radius: 8px;
    margin:  20px 20px 20px 0;
    padding: 39px 48px;
}
.market-section .market-card h2{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 138%;
    color: #000000;
    margin-bottom: 20px;
}
.market-section .market-card .market-client{
    display: flex;
    gap: 14px;
    margin-top: 80px;
}
.market-section .market-card h3{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.market-section .market-card h4{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #606060;
}